/* App.css */
.App {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #4CAF50;
  margin-bottom: 20px;
}

input[type="file"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 70%;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

h2 {
  color: #333;
  margin-top: 20px;
  font-size: 24px;
}

pre {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 4px;
  margin-bottom: 5px;
}

li:hover {
  background-color: #e1e1e1;
}

h3 {
  color: #555;
  margin-top: 20px;
  font-size: 20px;
  border-bottom: 2px solid #4CAF50;
  padding-bottom: 5px;
}

ul li {
  font-size: 16px;
}
